table {
  width: 90%;
  margin: auto;
}

#getBtn1 {
  width: 15%;
  margin-left: auto;
  margin-right: 0.25%;
}

#getBtn2 {
  width: 15%;
  margin-right: auto;
  margin-left: 0.25%;
}


#testDiv {
  width: 90%;
  align-items: center;
  margin: auto;
  display: flex;
}

/*darkslategrey dimgray rgb(59, 53, 53) rgb(56, 65, 65) rgb(65, 62, 62) rgb(65, 70, 70)*/
tr.element-row:hover {
  background: rgb(65, 62, 62);
  cursor: pointer;
}
